/* Apply dark mode styles when the toggle is checked */
body.dark-mode {
    background-color: #000000;
    color: white;
    --chart-background-color-dark: #141414;
    --dark-chart-grid-color: rgba(243, 240, 240, 0.452);
    --dark-chart-text-color: white;
    --dark-chart-color1: orange;
    --dark-chart-color2: cyan;
    --dark-chart-color3: yellow;
    --dark-chart-color4: pink;
    --dark-chart-color5: lightgreen;
    --dark-chart-color6: lightblue;
}

body.dark-mode .header {
    background-color: #1b1b1b;;
}

body.dark-mode .chart {
    background-color: var(--chart-background-color-dark);
    color: var(--dark-chart-text-color);
}

body.dark-mode .form-container,
body.dark-mode .form-content,
body.dark-mode .form-control {
    background-color: #1b1b1b;
    color: white;
    border: 1px solid #1b1b1b;
}

body.dark-mode .form-control {
    border: 1px solid white; /* Dark mode border color */
}

body.dark-mode .form-content {
    border: 1px solid white; /* Dark mode border color for form content */
}

body.dark-mode .footer {
    background-color: #343a40;
    color: white;
}

body.dark-mode .footer a {
    color: #78ec9f;
}

body.dark-mode .dark-mode-toggle label {
    background: #444;
}

body.dark-mode .dark-mode-toggle label::before {
    background: #fff;
}

body.dark-mode .dark-mode-toggle .fa-moon {
    color: white;
}

body.dark-mode .dark-mode-toggle .fa-sun {
    color: white;
}

body.dark-mode .dark-mode-toggle .black-moon {
    color: #1b1b1b;
}

.chart.dark-mode {
    background-color: var(--chart-background-color-dark, #1E1E1E); /* Chart background color in dark mode */
    color: var(--dark-chart-text-color, #ffffff); /* Chart text color in dark mode */
}


#map.dark-mode {
    filter: invert(0.9) hue-rotate(180deg);
    background-color: #1b1b1b; /* Dark mode background color for map */
}

/* Dark mode switch input */
.dark-mode-toggle input {
    display: none;
}

/* Dark mode switch label */
.dark-mode-toggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: var(--toggle-background, #ccc);
    display: block;
    border-radius: 30px;
    position: relative;
}

/* Dark mode switch label::before (the knob) */
.dark-mode-toggle label::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--knob-background, #fff);
    top: 3px;
    left: var(--knob-left, 3px);
    transition: 0.3s;
}

/* Dark mode switch label (checked state) */
.dark-mode-toggle input:checked + label {
    background: var(--checked-background, #1b1b1b);
}

/* Dark mode switch label::before (checked state) */
.dark-mode-toggle input:checked + label::before {
    left: var(--knob-left-checked, calc(100% - 28px));
}
.poppins-font {
    font-family: 'Poppins', sans-serif;
  }
